#main{
text-align: center;
}

h1{
    text-align: center;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    margin: 50px;
}
body{
    background: url("https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=345&q=80");

}
#image{
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 100%;
    max-height: auto;
    
}
#main{
    text-align: center;
}